/* Reset and initialise some values for the body */
:root {
  --main-bg-color: #EFECCA;
  --main-complimentary-color: #046380;
  --main-text-color: #66634d;
  --main-darker-text-color: #4c4939;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}
body p {
    color: var(--main-darker-text-color);
}
.loader {
    display: none;
    box-shadow: 0px 0px 5px gray;
    position: absolute;
    margin: 1em;
    background: #FFFFFF;
    width: 8em;
    height: 8em;
    left: calc(50% - 8em);
    top: calc(50% - 8em);
    z-index: 999;
}
.loader img {
    padding: 2em;
    padding-top: 1.2em;
}
.loader p {
    margin: -1.8em 0;
    text-align: center;
    padding: 0;
}
p.hint {
    background: lightblue;
    padding: 1em 0 1em;
    text-align: center;
    font-weight: bold;
    border: 1px dotted blue;
}
progress {
    width: 100%;
}
.btn {
    display: block;
    background: gray;
    border: 0;
    padding: 1em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    font-weight: bold;
}
.btn:hover {
    transform: scale(1.025);
    background: black;
}
.btn.back {
    width: 15em;
}
.error-monkey img {
    width: 20em;
    height: auto;
    margin: 0 auto;
}

header {
    background: var(--main-complimentary-color);
    box-sizing: border-box;
    overflow: auto;
    padding-left: 1em;
}

header h1, header p {
    color: white;
}
header h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}
header p {
    margin-top: 0;
}

nav {
    background: white;
    box-sizing: border-box;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    box-sizing: border-box;
}

nav ul a {
    display: block;
    padding: 1em;
    color: black;
    text-decoration: none;
    font-size: 20px;
    background: gray;
    color: white;
    transition: 0.25s;
}

nav ul a:hover {
    background: black;
}

main {
    z-index: 0;
    box-sizing: border-box;
    overflow: auto;
    display: grid;
    grid-column-gap: 5em;
    max-width: 90em;
    margin: auto;
}

.basic-section {
    min-height: 20em;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 1em;
}

.article-grid, .detail-grid div {
    margin: 0 5em 0 5em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
}
@media (min-width: 40em) {
    .article-grid, .detail-grid div {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 70em) {
    .article-grid, .detail-grid div {
        grid-template-columns: repeat(4, 1fr);
    }
}
.mainInfo{
    background: whitesmoke;
    padding: 2em;
    border: var(--main-complimentary-color) dotted 1px;
}
.mainInfo h2 {
    margin-top: 0!important;
    padding: 0;
    color: var(--main-complimentary-color);
}
.detail-grid {
    padding: 2em;
}
.detail-grid h3 {
    font-weight: 300;
    font-size: 1.6rem;
    text-align: justify;
    margin-bottom: 0;
}
.detail-grid p{
    text-align: center;
    font-weight: bold;
}

.detail-grid p img {
    max-width: 30em;
    border: 6px solid white;
    box-shadow: 0px 0px 10px lightgray;
    margin: 1em;
}

.basic-section article {
    margin-bottom: 1em;
    /*height: 20em;*/
    border: 6px solid white;
    box-shadow: 0px 0px 10px lightgray;
    transition: 0.25s;
}

.basic-section article:hover {
    box-shadow: 0px 0px 5px gray;
    transform: scale(1.1);
}
article {
    background: #FFFFFF;
}
article img {
    width: 100%;
    object-fit:cover;
    object-position: top;
    height: 20em;
}
article a {
    text-decoration: none;
    color: var(--main-darker-text-color);
}
article a p {
    padding: 1em;
    text-align: justify;
}
article a p b {
    display: block;
    margin: 0.4em 0em 0.4em;
    width: 100%;
    color: var(--main-complimentary-color);
}

.basic-section h2 {
    padding: 0;
    margin-top: 0;
    font-size: 2em;
    font-weight: 300;
    margin-top: 1em;
}

.basic-section .indexWarningBox {
    padding: 1em;
    background: whitesmoke;
    border: 1px dotted black;
}
